build==1.2.2.post1
click==8.2.0
fitter==1.7.1
joblib==1.5.0
matplotlib==3.10.3
nltk==3.9.1
numpy==2.2.6
pandas==2.2.2
pillow==11.2.1
pytest==8.3.5
regex==2024.11.6
rich==14.0.0
rich-click==1.8.8
scikit-learn==1.6.1
scipy==1.15.2
tqdm==4.67.1